html 
    head 
        Title MMDB - Example Person 
    style
        include view_css/person.css
    body 
        include ../views/partial/header

        br
        h2 Leonardo DiCaprio 
            button(class="unfollow") Unfollow
        br
        h4 Frequent Collaborators: 
        br
        a(href='/people/examplePerson') Martin Scorsese 
        br
        a(href='/people/examplePerson') Steven Spielberg
        br
        a(href='/people/examplePerson') Robert de Niro
        br
        a(href='/people/examplePerson') Tobey Maguire
        br
        
        
        h3 Work History
        h4 Writer:
        br
        a(href='/movies/exampleMovie') Greensburg
        br
        a(href='/movies/exampleMovie') The 11th Hour
        h4 Director/Producer: 
        br
        a(href='/movies/exampleMovie') When Two Worlds Collide
        br
        a(href='/movies/exampleMovie') The Right Stuff
        br
        a(href='/movies/exampleMovie') Ice on Fire
        br
        a(href='/movies/exampleMovie') Robin Hood
        br
        a(href='/movies/exampleMovie') Struggle: The Life and Lost Art of Szukalski
        
        h4 Actor: 
        br
        a(href='/movies/exampleMovie') The Revenant
        br
        a(href='/movies/exampleMovie') Inception
        br
        a(href='/movies/exampleMovie') Catch Me If You Can
        br
        a(href='/movies/exampleMovie') Titanic
        br
        a(href='/movies/exampleMovie') The Wolf of Wall Street
        br
        include ../views/partial/footer
