body{
    background-color: beige;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Actor{
    margin-left: 10px;
}

.Genre{
    margin-left: 50px;
}

.Title{
    margin-left: 58px;
}

button{
    background-color: rgb(95, 250, 198);
    font-weight: bold;
}
