html 
    head 
        Title MMDB - Contribute 
    style
        include view_css/review.css
    body 
        include ../views/partial/header
        h4 Reviewer: cheesecake333
        h4 Review: Inception
        h4 Score: 9/10
        h4 Summary Text:
        p This was an amazing movie
        h4 Full Text:
        p This was an amazingggggggggggggggggggggggggggggggggggg movie

        include ../views/partial/footer
