html 
    head 
        Title - MMDB - Example Person 
    body 
        br
        h4 Name: Leonardo DiCaprio 
            button Unfollow
        br
        h4 Frequent Collaborators: 
            br
            a(href='/people/exampleperson') Martin Scorsese 
            br
            a(href='/people/exampleperson') Steven Spielberg
            br
            a(href='/people/exampleperson') Robert de Niro
            br
            a(href='/people/exampleperson') Tobey Maguire
        br
        h3 Work History
        h4 Writer:
            br
            a(href='/movies/examplemovie') Greensburg
            br
            a(href='/movies/examplemovie') The 11th Hour
        h4 Director/Producer: 
            br
            a(href='/movies/examplemovie') When Two Worlds Collide
            br
            a(href='/movies/examplemovie') The Right Stuff
            br
            a(href='/movies/examplemovie') Ice on Fire
            br
            a(href='/movies/examplemovie') Robin Hood
            br
            a(href='/movies/examplemovie') Struggle: The Life and Lost Art of Szukalski
        h4 Actor: 
            br
            a(href='/movies/examplemovie') The Revenant
            br
            a(href='/movies/examplemovie') Inception
            br
            a(href='/movies/examplemovie') Catch Me If You Can
            br
            a(href='/movies/examplemovie') Titanic
            br
            a(href='/movies/examplemovie') The Wolf of Wall Street
            br
