html
    head
        title Sign In 
    
    style
        include view_css/profile.css
    body
        include ../views/partial/header
        div(class = "myProfile") 
            h1(style="text-align:center ;margin-bottom: 1px;") Annonymous
            br
            h3 Account Type 
            p(style = "margin-bottom: 0px;") Regular 
                button(style = "font-family: Georgia, serif; background-color:rgb(148,99,99); color:white;") Change Account Type

            br
            h3 People you follow 
            p(style ="padding-bottom: 0px;")
                button Unfollow
                a(href="/people/exampleperson") Person 1
            p(style ="padding-bottom: 0px;")
                button Unfollow
                a(href="/people/exampleperson") Person 2
            p(style ="padding-bottom: 0px;")
                button Unfollow
                a(href="/people/exampleperson") Person 3
            p(style ="padding-bottom: 0px;")
                button Unfollow
                a(href="/people/exampleperson") Person 4
            br


            h3 Following
            p 
                button Unfollow
                a(href="/user/exampleuser") User 1
            p   
                button Unfollow
                a(href="/user/exampleuser") User 2 
            br


            h3 Movies(watched)
            - counter = 0
            each movi in movie
                if(counter >= 5)
                    - break
                p
                    button remove
                    a(href="/movies/exampleMovie") #{movi.Title}
                - counter = counter + 1
            br


            h3 Movies(Recommended)
            each movi in movie
                if(counter >= 8)
                    - break
                p
                    button remove
                    a(href="/movies/exampleMovie") #{movi.Title}
                - counter = counter + 1
            br
            
            h3 Notification 
            p  Actor is selected for a new movie.  
                button remove 
            
            p Actor refuses to star in a movie. 
                button remove 
            
            p Movie is in production.
                button remove