html
    head
        title Sign In 
    style 
        include view_css/signIn.css
    body
        include ../views/partial/header
        div#main 
            br
            input(type="text",placeholder="Username",class="usernameField")
            br
            input(type = "text",placeholder="Password",class="passwordField")
            br
            a(href="/")
                button(class="signInButton") Sign In
            br
            br
            h4 Not a User?
            a(href="/sign/up")
                button(class="signUpButton") Sign Up
        include ../views/partial/footer