html 
    head 
        Title MMDB - Example User
    style
        include view_css/user.css
    body
        include ../views/partial/header

        h4 Username: jupiter123 (regular user) 
            button(class="fButton") Follow
        h4 People jupiter123 Follows: 
        button Follow 
        span  
        a(href='/people/examplePerson') Martin Scorsese 
        br
        button Follow 
        span  
        a(href='/people/examplePerson') Lisa Kudrow 
        br 
        button Follow 
        span  
        a(href='/people/examplePerson') Margot Robbie 
        br
        button Follow 
        span  
        a(href='/people/examplePerson') Jonah Hill
        br
        br

        h4 Movies jupiter123 has watched: 
        a(href='/movies/exampleMovie') The Founder
        br
        a(href='/movies/exampleMovie') The Lord of the Rings: The Fellowship of the Ring
        br
        a(href='/movies/exampleMovie') Titanic
        br
        a(href='/movies/exampleMovie') Cars
        br
        a(href='/movies/exampleMovie') Black Widow

        br
        br
        h4 Reviews written by jupiter123: 
        a(href='/reviews/exampleReviews') Titanic
        br
        a(href='/reviews/exampleReviews') The Big Short



    include ../views/partial/footer