html 
    head 
        Title MMDB - Search 
    style
        include view_css/sear.css 
    body 
        include ../views/partial/header
        p Title:     
            input(type="search", name="",class="Title")
        p Genre: 
            input(type="search", name="",class="Genre")
        p Actor Name: 
            input(type="search", name="",class="Actor")
        a(href='/searchResults?title=&genre=&actor=')    
            button(type="submit") Search

        include ../views/partial/footer