style
    include header.css
div(class = "header")
    a(href="/") Home
    span   
    span | 
    a(href="/profile") Profile
    span   
    span | 
    a(href="/signiu") Sign In/Up
    span   
    span | 
    a(href="/search") Search
    span   
    span | 
    a(href="/contribute") Contribute
