.header{
    color:white;
    background-color:rgb(223, 210, 210);
      
} 

/* a:link{
    color:white;
    text-decoration:none;

}
a:visited{
    color: rgb(63, 141, 89);
    text-decoration: none;
} */