style
    include css/header.css
div(class = "header")
    a(href="/") Home
    span   
    span | 
    a(href="/profile/my") Profile
    span   
    span | 
    a(href="/sign/in") Sign In/Up
    span   
    span | 
    a(href="/search") Search
    span   
    span | 
    a(href="/contribute") Contribute
