style
    include css/header.css
div(class = "header")
    a(href="/") Home
    span   
    span | 
    a(href="/user/profile") Profile
    span   
    span | 
    a(href="/login") Login/Register
    span   
    span | 
    a(href="/search") Search
    span   
    span | 
    a(href="/contribute") Contribute
